@model WiseSwitch.ViewModels.Entities.SwitchModel.InputSwitchModelViewModel

@{
    ViewData["Title"] = "Edit switch model";
}

<h2><partial name="_GoBackFaIcon" /> Edit SwitchModel</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            @* ModelState Errors *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Id for Edit *@
            <input type="hidden" asp-for="Id" />

            <!-- Brand -->
            <div class="mb-3">
                <label asp-for="BrandId" class="form-label"></label>
                <input asp-for="BrandId" type="search" list="brands" class="form-control" onchange="getProductLines()" placeholder="Enter Brand" />
                <datalist id="brands">
                    @if (ViewBag.ComboBrands != null)
                        foreach (var item in ViewBag.ComboBrands)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                </datalist>
            </div>

            <!-- Get Combo Product Lines when Brand is selected. -->
            <script>
                const getProductLines = () => {
                    // Get Combo from API: (mvcActionName, fkName, fkValue, datalistId, pluralEntityName)
                    getDatalistOptionsFromApi("ComboProductLinesOfBrand", "BrandId", $('#BrandId').val(), "productlines", "Product Lines");
                }
            </script>

            <!-- Product Line -->
            <div class="mb-3">
                <label asp-for="ProductLineId" class="form-label"></label>
                <input asp-for="ProductLineId" type="search" class="form-control" list="productlines" onchange="getProductSeries()" placeholder="Enter Product Line" />
                <datalist id="productlines"></datalist>
            </div>

            <!-- Get Combo Product Series when ProductLine is selected. -->
            <script>
                const getProductSeries = () => {
                    // Get Combo from API: (mvcActionName, fkName, fkValue, datalistId, pluralEntityName)
                    getDatalistOptionsFromApi("ComboProductSeriesOfProductLine", "ProductLineId", $('#ProductLineId').val(), "productseries", "Product Series");
                }
            </script>

            <!-- Product Series -->
            <div class="mb-3">
                <label asp-for="ProductSeriesId" class="form-label"></label>
                <input asp-for="ProductSeriesId" type="search" list="productseries" class="form-control" placeholder="Enter Product Series" />
                <datalist id="productseries"></datalist>
            </div>

            <!-- Model Name -->
            <div class="mb-3">
                <label asp-for="ModelName" class="form-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>

            <!-- Model Year -->
            <div class="mb-3">
                <label asp-for="ModelYear" class="form-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>

            <!-- Default Firmware Version -->
            <div class="mb-3">
                <label asp-for="DefaultFirmwareVersionId" class="form-label"></label>
                <input asp-for="DefaultFirmwareVersionId" type="search" list="firmwareversions" class="form-control" placeholder="Enter Firmware Version" />
                <datalist id="firmwareversions">
                    @if (ViewBag.ComboFirmwareVersions != null)
                        foreach (var item in ViewBag.ComboFirmwareVersions)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                </datalist>
            </div>

            <hr />

            <!-- Save -->
            <div class="mb-3">
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Scripts/_ValidationScriptsPartial");
        await Html.RenderPartialAsync("Scripts/_GetDatalistOptionsAjaxScript");

        <!-- Get sibling Combo Product Lines and Combo Product Series on Edit. -->
        <script>
            $(getProductLines())
            $(getProductSeries())
        </script>
    }
}
