@model WiseSwitch.ViewModels.Entities.ProductLine.EditProductLineViewModel

@{
    ViewData["Title"] = "Edit product line";
}

<h2><partial name="_GoBackFaIcon" /> Edit Product Line</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            @* ModelState Errors *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Id for Edit *@
            <input type="hidden" asp-for="Id" />

            <!-- Brand -->
            <div class="mb-3">
                <label asp-for="BrandId" class="form-label"></label>
                <input asp-for="BrandId" type="search" list="brands" class="form-control" placeholder="Enter Brand" />
                <datalist id="brands">
                    @if (ViewBag.ComboBrands != null)
                        foreach (var item in ViewBag.ComboBrands)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                </datalist>
            </div>

            <!-- Name -->
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <hr />

            <!-- Save -->
            <div class="mb-3">
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Scripts/_ValidationScriptsPartial");
    }
}
