@{
    var userIdentity = User?.Identity;
    bool _isUserAuthenticated = userIdentity?.IsAuthenticated ?? false;
    bool _isUserInRoleAdmin = User?.IsInRole("Admin") ?? false;
    string _userName = userIdentity?.Name ?? "error: username not found";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">WiseSwitch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (_isUserAuthenticated)
            {
                <ul class="navbar-nav flex-grow-1">
                    @if (_isUserInRoleAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index"><i class="fa fa-user"></i> Users</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@_userName</a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav flex-grow-1">
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>