@if (TempData["LayoutMessageError"] != null)
{
    <p class="mx-5 px-3 text-danger">@TempData["LayoutMessageError"]</p>
}

@if (TempData["LayoutMessageWarning"] != null)
{
    <p class="mx-5 px-3 text-warning">@TempData["LayoutMessageWarning"]</p>
}

@if (TempData["LayoutMessageSuccess"] != null)
{
    <h6 class="mx-5 px-3 text-success">@TempData["LayoutMessageSuccess"]</h6>
}

@if (TempData["LayoutMessage"] != null)
{
    <p class="mx-5 px-3">@TempData["LayoutMessage"]</p>
}