@model WiseSwitch.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<p class="text-dark">An error occurred while processing your request.</p>

<button onclick="javascript:history.back()" class="btn btn-link">Go back</button>