@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<hp class="text-dark">An error occurred while processing your request.</hp>

<button onclick="javascript:history.back()" class="btn btn-link">Go back</button>